.header__burger-btn {
    display: none;
    min-width: 30px;
    min-height: 20px;
    background-image: url(../../../images/burger-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (min-width: 1300px) {
    
    .header__burger-btn {
        display: none;
    }
}