.header__menu {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 1440px) {
    
    .header__menu {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1300px) {
    
    .header__menu {
        padding-left: 0;
        padding-right: 0;
    }
}