.book {
  display: flex;
  flex-direction: column;  
}

.book_hidden {
    display: none;
}

.book__item {
    padding: 30px 65px;
    background-color: #fff;
    border-radius: 30px;
}

.book__desc {
    border-radius: 30px;
    height: 222px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.book__canvas {
    background-color: #FF8585;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 320px;
}

.book:nth-child(2n) .book__canvas {
    background-color: #C8D1FF;
}

.book__heading {
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #1A1A1A;
    margin: 0;
}

.book__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__caption::before {
    content: '';
    display: block;
    background: #000000;
    height: 1px;
    width: 66.67px;
    margin-bottom: 20px;
} 

.book__author {
    font-family: 'PT Proto', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #1A1A1A;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.book__year {
    font-family: 'PT Proto', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #1A1A1A;
    margin: 0;
}

@media (max-width: 1024px) {
    .book__desc {
        height: 188px;
    }

    .book__item {
        padding-left: 85px;
        padding-right: 85px;
    }

    .book__canvas {
        padding: 15px;
        min-height: 272px;
    }
    
    .book__heading {
        font-size: 19px;
        line-height: 23px;
    }

    
    .book__caption::before {
        width: 60px;
        margin-bottom: 15px;
    }
    
    .book__author {
        font-size: 12px;
        line-height: 17px;
    }

    .book__year {
        font-size: 12px;
        line-height: 17px;
    }
}


@media (max-width: 640px) {
    .book__item {
        padding-left: 45px;
        padding-right: 45px;
    }
    
}