.button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid #224CFF;
    border-radius: 100px;
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #224CFF;
    cursor: pointer;
}

.button_place_footer {
    color: #F3F2F2;
    border-color: #F3F2F2;
    grid-area: btn;
    margin-right: 46px;
}

@media (max-width: 1360px) {
    .button_place_footer {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .button {
        font-size: 12px;
        line-height: 17px;
        padding: 12px 15px;
    }
}

