/*-----BUTTON-----*/
.button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    border: 1px solid #A7A6A6;
    color: #A7A6A6;
    border-radius: 100px;
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.button:hover {
    background-color: #E0E0E0;
}

/*-----BLUE-----*/
.button_color_blue {
    color: #224CFF;
    border: 1px #224CFF solid;
    cursor: pointer;
}

.button_color_blue:hover {
    background-color: rgba(200, 209, 255, 1);
}

.button_color_blue:active {
    background-color: rgba(34, 76, 255, 1);
    color: white;
}

.button_color_blue-round {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.button_color_blue-round:hover {
    background-color: transparent;
}

.button_color_blue-round:active {
    background-color: transparent;
}

.button_color_blue_onclick {
    background-color: #224CFF;
    color: white;
}

/*-----trans round-----*/
.button_type_round {
    background-image: url(../images/trans-blue-plus.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 48px;
    height: 48px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


/*-----BLACK-----*/
.button_color_black {
    border: 1px black solid;
    color: black;
}

.button_color_black_active {
    background-color: black;
    color: rgba(243, 242, 242, 1);
}

.button_color_black:hover {
    background-color: #E0E0E0;
}

.button_color_black_active:hover {
    background-color: #2E2468;
}


.button_color_black:active {
    background-color: black;
    color: rgba(243, 242, 242, 1);
}

.button_color_black-nonactive {
    border: 1px #A7A6A6 solid;
    color: #A7A6A6;
}


/*-----CALENDAR-----*/
.button_place_calendar-round {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 48px;
    height: 48px;
}


/*-----POPUP-----*/
.button-close {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}


/*-----MEDIA-----*/

@media (max-width: 1250px) {
    
    .button_color_blue_onclick {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    
    .button {
        padding: 11px 15px;
        font-size: 12px;
        line-height: 17px;
    }

    .button_color_blue {
        padding: 11px 15px;
        font-size: 12px;
        line-height: 17px;
    }

    .button_place_calendar-round {
        width: 40px;
        height: 40px;
    }

    .button_color_blue-round {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 320px) {
    
    .button-close {
        top: 15px;
        right: 15px;
    }
}