.button {
    background-color: transparent;
    border: 1px #F3F2F2 solid;
    border-radius: 100px;
    margin: 0;
    padding: 13px 20px 8px 20px;
    cursor: pointer;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
}

.button_place_footer:hover {
    color: #C8D1FF;
    border-color: #C8D1FF;
}

.button_place_footer {
    color: #F3F2F2;
}

.button_color_black {
    border: 1px black solid;
    color: black;
    margin-bottom: 15px;
}

.button_color_black:hover {
    background-color: #E0E0E0;
}

.button_color_black:active {
    background-color: black;
    color: rgba(243, 242, 242, 1);
}

.button_color_black-nonactive {
    border: 1px #A7A6A6 solid;
    color: #A7A6A6;
}

/*CALENDAR-POPUP*/
.button-close {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}


@media (max-width: 1024px) {
    
    .button {
        padding: 11px 15px 8px 15px;
        font-size: 12px;
        line-height: 17px;
    }
}

@media (max-width: 440px) {
    
    .button_color_black {
        margin-bottom: 10px;
    }
}

@media (min-width: 320px) {
    
    .button-close {
        top: 15px;
        right: 15px;
    }
}