.content {
    flex: 1;
    width: calc(100% - 150px);
    max-width: 1770px;
}

@media (max-width: 1440px) {
    .content {
        width: calc(100% - 270px);
    }
}

@media (max-width: 1024px) {
    .content {
        width: calc(100% - 254px);
    }
}

@media (max-width: 640px) {
    .content {
        width: calc(100% - 30px);
    }
}