.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px 0 0;
}

.events-grid_place_raw {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

.events-grid_place_article {
    margin-bottom: 80px;
}

@media (max-width: 1440px) {
    .events-grid_place_raw {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1420px) {
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .events-grid_place_raw {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {
    .events-grid {
        padding-top: 30px;
    }

    .events-grid_place_raw {
        padding: 0;
    }
    
    .events-grid_place_article {
        margin-bottom: 60px;
    }
}

@media (max-width: 950px) {
    .events-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .events-grid_place_raw {
        grid-template-columns: 1fr;
    }

    .events-grid_place_article {
        margin-bottom: 30px;
    }
    
}
