.heading {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 74px;
    line-height: 80px;
    text-align: center;
}

.heading_place_articles {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .heading {
        font-size: 37px;
        line-height: 39px;
        margin-bottom: 20px;
    }
}
@media (max-width: 850px) {
    .heading {
        margin-bottom: 20px;
    }
}