.logo {
    text-decoration: none;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.logo_place_footer {
    width: 415px;
    grid-area: logo;
}

@media (max-width: 1024px) {
    .logo_place_footer {
        width: 252px;
    }
}

