.main {
    width: 100%;
    overflow: hidden;
}

.main_place_article {
    overflow: visible;
}

.main__section {
    margin: 80px auto 120px;
}

@media (max-width: 1024px) {
    
    .main__section {
        margin-top: 45px;
        margin-bottom: 100px;
    }
    
}

@media (max-width: 640px) {
    
    .main__section {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .main__section_search {
        margin-top: 15px;
    }
    
}
