.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    z-index: 5;
}

.popup_opened {
    display: flex;
}

.popup__button-close { 
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.popup__title {
    margin: 0;
    padding: 0;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #1A1A1A;
    max-width: 410px;
}


/* ТИПЫ ПОПАПОВ И ИХ КОНТЕЙНЕРОВ */

.popup_type_video {
    overflow-y: hidden;
}

.popup_type_success {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;  
}

.popup__personal-account {
    position: fixed;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup__buttons {
    width: 228px;
    margin: 30px auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* ФОРМЫ ПОПАПОВ */

.popup__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup__inputs {
    margin: 0;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(6 ,minmax(0,1fr));
    grid-column-gap: 10px;
    font-size: 0;
    line-height: 0;
}

.popup__input {
    background: #F3F2F2;
    border-radius: 30px;
    padding: 13px 20px 16px;
    margin-bottom: 20px;
    border: 0;

    font-family: 'PT Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A7A6A6;
}

.popup__input::placeholder {
    font-family: 'PT Proto', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A7A6A6;
    margin: 0;
}

.popup__submit-btn {
    align-self: flex-start;
}

.popup__input_type_name {
    grid-column: 1/4;
}

.popup__input_type_url {
    grid-column: 4/7;
}

.popup__input_type_address {
    grid-column: 1/7;
}

.popup__input_type_boy {
    grid-column: 1/3;
    display: flex;
    align-items: flex-start;
}

.popup__input_type_girl {
    grid-column: 3/5;
}

.popup__input_type_age {
    grid-column: 5/7;
}

.popup__select_type_relax {
    grid-column: 1/7;
}

.popup__select {
    background: #F3F2F2;
    border-radius: 30px;
    padding: 13px 20px 16px;
    margin-bottom: 20px;
    border: 0;

    font-family: 'PT Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A7A6A6;
}

.popup__textarea {
    display: block;
    margin: 0;
    padding: 13px 20px 16px;
    background-color: #F3F2F2;
    border: none;
    border-radius: 30px;
    color: #A7A6A6;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    grid-column: 1/7;
}

.popup__textarea::placeholder {
    color: #A7A6A6;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
}

.popup__feedback {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1/3;
}

.popup__feedback-button {
    background-image: url(../images/popup-feedback-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.popup__feedback-text {
    margin: 0;
    padding: 0;
    font-family: 'PT Root', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #A7A6A6;
    text-align: left;
}

.popup__submit {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-column: 6/8;
}

@media (max-width: 1024px) {
    
    .popup__title {
        font-size: 19px;
        line-height: 23px;
    }
}

@media (max-width: 880px) {
    
    .popup__personal-account  {
        max-width: 470px;
    }

    .popup__buttons {
        width: 170px;
    }
}


@media (max-width: 660px) {
    .popup__personal-account {
        max-width: 320px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .popup__input_type_name {
        grid-column: 1/7;
    }
    
    .popup__input_type_url {
        grid-column: 1/7;
    }
    
    .popup__input_type_address {
        grid-column: 1/7;
    }
    
    .popup__input_type_boy {
        grid-column: 1/4;
    }
    
    .popup__input_type_girl {
        grid-column: 4/7;
    }
    
    .popup__input_type_age {
        display: none;
    }
    
    .popup__select_type_relax {
        grid-column: 1/7;
    }
}

@media screen and (max-width: 640px) {
    .popup__input {
        padding-top: 10px;
        padding-bottom: 13px;
        margin-bottom: 10px;
    }

    .popup__input:last-child {
        margin-bottom: 20px;
    }

    .popup__input::placeholder {
        font-size: 12px;
        line-height: 17px;
    }

    .popup__select {
        margin-bottom: 10px;
    }

    .popup__feedback-button {
        width: 40px;
        height: 40px;
    }

    .popup__button-close { 
        top: 15px;
        right: 15px;
    }
}

@media (max-width: 530px) {

    .popup__input_type_boy {
        grid-column: 1/7;
    }
    
    .popup__input_type_girl {
        grid-column: 1/7;
    }
}