/*------MEET-----*/
.popup__meet {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.popup__button_close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../images/close-popup.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------PROOF-----*/
.popup__proof {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;  
}

/*------SUCCESS-----*/
.popup__success {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;  
}


/*OPEN POP*/
.popup_opened {
    display: flex;
}

@media (max-width: 800px) {
   
    .popup__button_close {
        top: 15px;
        right: 15px;
    }
} 

@media screen and (max-width: 640px) {
    .popup__input {
        padding-top: 10px;
        padding-bottom: 13px;
        margin-bottom: 10px;
    }

    .popup__input:last-child {
        margin-bottom: 20px;
    }

    .popup__input::placeholder {
        font-size: 12px;
        line-height: 17px;
    }
}
