.proof {
    position: relative;
    max-width: 770px;
    margin: 0 auto;
    padding: 251px 100px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    border-radius: 30px;
}

.proof__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
    color: #000;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
}

.proof__buttons {
    margin: auto;
    display: flex;
}

.proof__sbm-btn  {
    margin-right: 20px;
}

@media (max-width: 1024px) {
    
    .proof {
        width: 570px;
        padding: 150px 70px;
    }
}

@media (max-width: 850px) {
    
    .proof {
        width: 470px;
    }

    .proof__title {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 19px;
        line-height: 23px;
    }
}

@media (max-width: 560px) {
    
    .proof {
        width: calc(100% - 30px);
        padding: 70px 15px;
    }

    .proof__title {
        padding-left: 15px;
        padding-right: 15px;
    }
}
