.question {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 50px 50px 47px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.question__flex {
    display: flex;
    align-items: center;
    max-width: 970px;
    position: relative;
}

.question__title {
    max-width: 770px;
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;  
    max-width: 770px;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;       
    color: #000000;
    margin: 0 0 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.question__tags {
    display: flex;
}


@media (max-width: 1024px) {
    .question {
        padding: 30px 15px;
    }

    .question__flex {
        width: 100%;
    }

    .question:last-child {
        display: none;
    }

    .question__title {
        font-size: 19px;
        line-height: 23px;
        -webkit-line-clamp: 4; 
    }
}

@media (max-width: 640px) {
    .questions {
        width: 100%;
    }

    .question:last-child {
        display: flex;
    }

    .question__title {
        font-size: 19px;
        line-height: 23px;   
    }
}