.questions {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.questions_place_maipage {
    width: calc(100% - 450px);
}

.questions__section {
    margin: 80px auto 120px;
}

.questions__page-list {
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;
    list-style: none;
    justify-items: center;
}

.questions__open {
    width: 100px;
    height: 100px;
}

.questions__buttons {
    max-width: 1074px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.questions__articles-grid {
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 970px);
    row-gap: 30px;
}

.questions__article {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questions__article-wrapper {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 47px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
}

.questions__artice-title {
    width: 770px;
    margin: 0;
    padding-bottom: 15px;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: left;
    color: #000;
}

.questions__category {
    margin: 0;
    padding: 2px 7px 2px 7px;
    text-transform: uppercase;
    font-family: 'PT Root', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 1px;
    text-align: center;
    color: #464646;
    background-color: #F3F2F2;
    border-radius: 15px;
}

.questions__form {
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    max-width: 970px;
}

.questions__form_hidden {
    display: none;
}

.guestions__form-heading {
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
    max-width: 650px;
    margin: 0 0 24px;
}

.questions__ask {
    display: flex;
}

.questions__result_hidden {
    display: none;
}

.guestions__input {
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'PT Root', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    padding: 11px 30px;
    border: 0;
    width: calc(100% - 121px);
    box-sizing: border-box;
}

.guestions__input::placeholder {
    font-family: 'PT Root', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #A7A6A6;
}

.questions__result {
    margin: 80px auto 0;
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    max-width: 970px;
    color: #000000;
}

@media (max-width: 1440px) {
    .questions_place_maipage {
        width: calc(100% - 400px);
    }
}

@media (max-width: 1250px) {
    
    .questions__title {
        font-size: 37px;
        line-height: 39px;
    }

    .questions__artice-title {
        font-size: 19px;
        line-height: 23px;
    }
}

@media (max-width: 1024px) {
    .questions {
        grid-template-rows: repeat(2, max-content);
    }

    .questions_place_maipage {
        width: calc(100% - 400px);
    }

    .questions__section {
        margin-top: 30px;
        margin-bottom: 100px;
    }

    .questions__page-list {
        margin-top: 50px;
    }

    .questions__open {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .questions__form {
        margin-top: 50px;
    }
    
    .guestions__form-heading {
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    
    .guestions__input {
        font-size: 15px;
        line-height: 21px;
        padding-top: 10px;
        padding-bottom: 10px;   
        width: calc(100% - 95px);
    }
    
    .guestions__input::placeholder {
        font-size: 15px;
        line-height: 21px;
    }

    .questions__result {
        margin-top: 50px;
        font-size: 19px;
        line-height: 23px;
    }
}

@media (max-width: 860px) {
    .questions {
        width: 100%;
    }

    .questions__section {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .questions__page-list {
        margin-top: 30px;
    }
}

@media (max-width: 540px) {
    .questions__ask {
        flex-direction: column;
    }

    .guestions__input {
        margin-bottom: 20px;
        width: 100%;   
    }

}
