.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px 100px;
    background-color: #fff;
    border-radius: 30px;
    max-width: 570px;
}

.recommendation_place_page {
    margin: 0 auto 80px;
}

.recommendation__title {
    font-style: normal;
    font-family: 'Proto', Arial, sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #000;
    margin: 0 0 16px 0;
}

.recommendation__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 547px;
}

.recommendation__text {
    font-family: 'PT Proto', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin: 0 0 27px 0;
    text-align: center;
}

.recommendation__text_place_page {
    margin: 0;
}

.recommendation__text-link {
    color: #224CFF;
    text-decoration: none;
}

.recommendation__text-link_opened {
    color: #2E2468;
}

.recommendation__text-link:hover {
    color: #2E2468;
}

@media (max-width: 640px) {

    .recommendation {
        padding: 30px 15px;
    }
}