.success {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 30px;
}

.success__title {
    max-width: 570px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-left: 100px;
    padding-right: 100px;
    color: #000;
    font-family: 'Proto', sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
}

.success__title:first-of-type {
    margin-bottom: 40px;
}

.success__image {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 0;
    width: 413px;
    height: 169px;
}

.success__button {
    margin: 0 auto;
    margin-bottom: 133px;
}

@media (max-width: 1200px) {
    
    .success__image {
        margin-top: 60px;
    }

    .success__button {
        margin-bottom: 80px;
    }
}

@media (max-width: 1024px) {

    .success__image {
        width: 363px;
        height: 119px;
    }

    .success__button {
        margin-bottom: 40px;
    }
}

@media (max-width: 850px) {

    .success__title {
        max-width: 470px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 19px;
        line-height: 23px;
    }

    .success__image {
        margin-top: 30px;
    }

    .success__button {
        margin-bottom: 30px;
    }
}

@media (max-width: 680px) {
 
    .success {
        max-width: 370px;
    }

    .success__title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .success__image {
        max-width: 313px;
        height: 69px;
        margin-top: 60px;
    }
}

@media (max-width: 440px) {
    
    .success {
        max-width: 290px;
    }

    .success__image {
        max-width: 283px;
        height: 49px;
    }
}