.header__wrapper {
    max-width: 1770px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1440px) {
    
    .header__wrapper {
        max-width: 1170px;
    }
}

@media (max-width: 1024px) {
    
    .header__wrapper {
        max-width: 790px;
    }
}