.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1300px) {
    
    .header__list {
        display: none;
        order: 1;
        flex-direction: column;
        align-items: flex-start;
    }
}